/** hub module*/
.not-due{
 	background:#ffffff;
}

.due{
   background-color: #5cb85c;
}
.one-month-over-due{
background-color: #efd342;
}
.two-months-over-due{
	background-color: #f44336;
}

.action-pane-table{

            border-collapse: collapse;
            border:  2px solid black;

         }
         .action-pane-td{
              border:  2px solid black;
              text-align: center;
        }

